<script src="lib/app.js"></script>
<script src="lib/pages/formsWizard.js"></script>
<script>$(function(){ FormsWizard.init(); });</script>

<!-- Wizard Header -->
<div data-ng-controller="PolizasController" data-ng-init="find()">
    
    <!-- <ul class="breadcrumb breadcrumb-top">
        <li>Pages</li>
        <li><a href="">Pólizas</a></li>
    </ul> -->
    <!-- END Wizard Header -->
    <!-- Clickable Wizard Block -->
    <div class="content-header">

    </div>
    <div  class="row">
        <div>
            <div class="block">
                <!-- Input Grid Title -->
                <div class="block-title">
                    <h2>Póliza</h2>
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info" data-toggle="tooltip" title="" data-original-title="Guardar" ><i class="hi hi-floppy_disk"></i></a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- END Input Grid Title -->

                <!-- Input Grid Content -->
                <form action="page_forms_general.html" method="post" class="form-horizontal" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="example-hf-email">No. Póliza</label>
                        <div class="col-md-2">
                            <input type="text" id="example-progress-username" name="example-progress-username" class="form-control" data-ng-model="polizas.name_poliza" placeholder="Nombre o No. Póliza" data-ng-required>
                        </div>
                        <label class="col-md-2 control-label" for="example-hf-email">Contactos</label>
                        <div class="col-md-6">
                            <select style="width:100%" ui-select2="{allowClear:true}" data-ng-model="contactos" data-placeholder="Seleccione contactos" multiple>
                                 <option ng-repeat="contact in inputTagContactos" value="{{contact.id}}">{{contact.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="example-hf-email">Fecha creación</label>
                        <div class="col-md-4">
                            <input type="text" id="created" name="created" class="form-control input-datepicker-close" data-date-format="mm-dd-yyyy" placeholder="mm-dd-yyyy" data-ng-model="created">
                        </div>
                        <label class="col-md-2 control-label" for="example-hf-email">Fecha Vencimiento</label>
                        <div class="col-md-4">
                            <input type="text" id="vencimiento" name="vencimiento" class="form-control input-datepicker-close" data-date-format="mm-dd-yyyy" placeholder="mm-dd-yyyy" data-ng-model="polizas.date_end">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="example-hf-email">Tipo de pago</label>
                        <div class="col-md-4">
                            <select style="width:100%" ui-select2="{allowClear:true}" data-ng-model="polizas.pay_type" data-placeholder="Seleccione tipo de pago">
                            </select>
                        </div>
                        <label class="col-md-2 control-label" for="example-hf-email">Tipo de póliza</label>
                        <div class="col-md-4">
                            <select style="width:100%" ui-select2="{allowClear:true}" data-ng-model="polizas.poliza_type" data-placeholder="Seleccione tipo de poliza">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="example-hf-email">Impuesto</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" min="2" max="50" data-ng-model="polizas.impuesto">
                        </div>
                        <label class="col-md-2 control-label" for="example-hf-email">Impuesto Ret.</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" min = "2" max="50" data-ng-model="polizas.retencion">
                        </div>
                    </div>
                </form>
                <!-- END Input Grid Content -->
            </div>
            <div class="block">
            <!-- Forum Tabs Title -->
            <div class="block-title">
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active"><a href="#forum-categories">Póliza</a></li>
                    <li class=""><a href="#forum-topics">Cuentas afectadas</a></li>
                    <li class=""><a href="#forum-discussion">Almacen</a></li>
                </ul>
            </div>
            <!-- END Forum Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">
                <!-- Forum -->
                <div class="tab-pane active" id="forum-categories">
                    <div>
                        <a href="javascript:void(0)" data-ng-click="addItemToTable()"><i class="fa fa-plus fa-2x text-primary pull-left"></i></a>
                    </div>
                    <table id="general-table" class="table table-striped table-vcenter table-hover table-condensed">
                        <thead >
                            <tr>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Código o No. Fabricante</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">No. Serie</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Subtotal</th>
                                <th class="text-center">Impuesto</th>
                                <th class="text-center">Total de Impuesto</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in polizas.items">
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item , true)">{{item.cantidad}}</span>
                                    <span><input type="number" class="form-control" data-ng-model="item.cantidad" min="1" value="1"  data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,'editCod_fabricante',true)">{{item.cod_fabricante}}</span>
                                    <span><input type="text" class="form-control" data-ng-model="item.cod_fabricante" data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">{{item.descripcion}}</span>
                                    <span><input type="text" class="form-control" data-ng-model="item.descripcion" data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">{{item.no_serie}}</span>
                                    <span><input type="text" class="form-control" data-ng-model="item.no_serie" data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">$ {{item.precio}}</span>
                                    <span><input type="number" class="form-control" data-ng-model="item.precio" min="1" value="1"  data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">$ {{item.subtotal}}</span>
                                    <span><input type="number" class="form-control" data-ng-model="item.subtotal" min="1" value="1" data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">{{item.impuesto}}%</span>
                                    <span><input type="number" class="form-control" data-ng-model="item.impuesto" min="1" value="1" data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">$ {{item.total_impuesto}}%</span>
                                    <span><input type="number" class="form-control" data-ng-model="item.total_impuesto" min="1" value="1"  data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-hide="item.edit" data-ng-click="editField(item,true)">$ {{item.total}}</span>
                                    <span><input type="number" class="form-control" data-ng-model="item.total" min="1" value="1"  data-ng-show="item.edit" data-ng-keypress="editField(item,false,$event)" data-ng-blur="lostFocusField(item,false)"/></span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Edit" data-ng-click="editField(item,true)"><i class="fa fa-pencil"></i></a>
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                <!-- END Forum -->

                <!-- Topics -->
                <div class="tab-pane" id="forum-topics">
                </div>
                <!-- END Topics -->

                <!-- Discussion -->
                <div class="tab-pane" id="forum-discussion">
                    
                </div>
                <!-- END Discussion -->
            </div>
            <!-- END Tab Content -->
        </div>
    </div>
    <!-- <div class="block">
            <div class="block-title">
                <h2><strong>Wizard</strong> Pólizas</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="block-section" >
                        <h3 class="sub-header text-center"><strong>Estas creando una nueva póliza</strong></h3>
                        <p class="clearfix"><i class="fa fa-plus fa-5x text-primary pull-left"></i>Los activos circulantes son bienes y derechos de una empresa que se caracterizan por su liquidez.</p>
                        <p>
                            <a href="javascript:void(0)" class="btn btn-lg btn-primary btn-block">Learn More.. <i class="fa fa-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="progress progress-striped active">
                        <div id="progress-bar-wizard" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                    </div>
                    <form id="progress-wizard" method="post" class="form-horizontal ui-formwizard" data-ng-submit="submitWizard()">
                        <div id="progress-first" class="step ui-formwizard-content" style="display: block;">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-username">Nombre o No. Póliza</label>
                                <div class="col-md-8">
                                    <input type="text" id="example-progress-username" name="example-progress-username" class="form-control ui-wizard-content" data-ng-model="polizas.name_poliza" placeholder="Nombre o No. Póliza" data-ng-required>
                                </div>
                            </div>
                        </div>
                        <div id="progress-second" class="step ui-formwizard-content">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-username">Contactos</label>
                                <div class="col-md-8">
                                    <select style="width:100%" ui-select2="{allowClear:true}" data-ng-model="contactos" data-placeholder="Seleccione contactos" multiple>
                                         <option ng-repeat="contact in inputTagContactos" value="{{contact.id}}">{{contact.text}}</option>
                                    </select>
                                </div>                            
                            </div>
                        </div>
                        <div id="progress-third" class="step ui-formwizard-content">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="example-username">Cuentas a afectar</label>
                                <div class="col-md-8">
                                    <select style="width:100%" ui-select2="{allowClear:true}" data-ng-model="templates" data-placeholder="Seleccione contactos" multiple >
                                         <option ng-repeat="cuentas in inputTagCuentas" value="{{cuentas.id}}">{{cuentas.text}}</option>
                                    </select>
                                </div>    
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-md-8 col-md-offset-4">
                                <input type="reset" class="btn btn-sm btn-warning ui-wizard-content ui-formwizard-button" id="back" value="Back" disabled="disabled" data-ng-click="nextActivo()">
                                <input type="submit" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button" id="next" value="Next" data-ng-click="nextWizard()" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</div>