<div data-ng-controller="NotificacionesController" data-ng-init="find()">
    <a href="javascript:void(0)" class="btn btn-sm btn-info" data-toggle="tooltip" data-original-title="Guardar" data-ng-click="saveDocument()" id="save" data-notifications data-title="{{msgTitle}}" data-color="{{msgColor}}" data-icon="{{msgIcon}}" data-content="{{msgContent}}" data-size="{{msgWidthBox}}" data-ng-model="isNotifed" style="display:none"></a>

<!-- Wrapper for scrolling functionality -->
    <div class="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <!-- Chat -->
            <!-- Chat demo functionality initialized in js/app.js -> chatUi() -->
            <div data-ng-controller = "ChatsController" data-ng-init="find()" data-chatui>
                <a href="javascript:" class="sidebar-title" data-notifications data-title="{{msgTitle}}" data-color="{{msgColor}}" data-icon="{{msgIcon}}" data-content="{{msgContent}}" data-size="{{msgWidthBox}}" data-ng-model="isOk" >
                    <i class="gi gi-comments pull-right"></i> <strong>Ir al</strong>Chat
                </a>

                <!-- Chat Users -->
                <ul class="chat-users clearfix">
                    <li data-ng-repeat="userConnected in usersConnected">
                        <a href="javascript:void(0)" class="chat-user-online" data-ng-click="onClickUserChat(userConnected)">
                            <span></span>
                            <img data-ng-src="{{userConnected.thumbimage}}" alt="avatar" class="img-circle">
                        </a>
                    </li>
                </ul>
            
                <!-- END Chat Users -->

                <!-- Chat Talk -->
                <div class="chat-talk" data-ng-show="showChatUser">
                    <!-- Chat Info -->
                    <div class="chat-talk-info sidebar-section">
                        <img data-ng-src="{{userChatTo.thumbimage}}" alt="avatar" class="img-circle pull-left">
                        <strong>{{userChatTo.displayName}}</strong>
                        <button id="chat-talk-close-btn" class="btn btn-xs btn-default pull-right" data-ng-click="onCloseChat()">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- END Chat Info -->

                    <!-- Chat Messages -->
                    <ul class="chat-talk-messages">
                        <!-- <li class="text-center"><small>Yesterday, 18:35</small></li> -->
                        <!-- <li class="chat-talk-msg animation-slideRight">Hey admin?</li> -->
                        <!-- <li class="chat-talk-msg animation-slideRight">How are you?</li> -->
                        <!-- <li class="text-center"><small>Today, 7:10</small></li> -->
                        <!-- <li class="chat-talk-msg chat-talk-msg-highlight themed-border animation-slideLeft">I'm fine, thanks!</li> -->
                        <li class="chat-talk-msg" data-ng-repeat="chat in chatConversation.chat" data-ng-class="chat.userWrote === userChatFrom._id ? 'chat-talk-msg-highlight themed-border animation-slideLeft' :'themed-border animation-slideRight'">{{chat.text}}</li>
                    </ul>
                    <!-- END Chat Messages -->

                    <!-- Chat Input -->
                    <form method="post" id="sidebar-chat-form" class="chat-form">
                        <input type="text" id="sidebar-chat-message" name="sidebar-chat-message" class="form-control form-control-borderless" placeholder="Escribe mensaje" data-ng-model="textToSend" data-ng-keypress="onKeypressChat($event)">
                    </form>
                    <!-- END Chat Input -->
                </div>
            </div>
            <!--  END Chat Talk -->
            <!-- END Chat -->

            <!-- Activity -->
            <a href="javascript:void(0)" class="sidebar-title">
                <i class="fa fa-globe pull-right"></i> <strong>Notificaciones</strong>
            </a>
            <div class="sidebar-section">
                <div class="alert {{notificacion.alertColor}} alert-alt" data-ng-repeat="notificacion in notificaciones">
                    <small>3 hours ago</small><br>
                    <i class="{{notificacion.icon}}"></i> <strong>{{notificacion.descripcion}}</strong>
                    <br>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary"><i class="fa fa-check" data-ng-click="thisNotyHasBeenSeen(notificacion)"></i> Ir</a>
            </div>
            <!-- END Activity -->

            <!-- Messages -->
            <!-- <a href="page_ready_inbox.html" class="sidebar-title">
                <i class="fa fa-envelope pull-right"></i> <strong>Messages</strong>UI (5)
            </a>
            <div class="sidebar-section">
                <div class="alert alert-alt">
                    Debra Stanley<small class="pull-right">just now</small><br>
                    <a href="page_ready_inbox_message.html"><strong>New Follower</strong></a>
                </div>
                <div class="alert alert-alt">
                    Sarah Cole<small class="pull-right">2 min ago</small><br>
                    <a href="page_ready_inbox_message.html"><strong>Your subscription was updated</strong></a>
                </div>
                <div class="alert alert-alt">
                    Bryan Porter<small class="pull-right">10 min ago</small><br>
                    <a href="page_ready_inbox_message.html"><strong>A great opportunity</strong></a>
                </div>
                <div class="alert alert-alt">
                    Jose Duncan<small class="pull-right">30 min ago</small><br>
                    <a href="page_ready_inbox_message.html"><strong>Account Activation</strong></a>
                </div>
                <div class="alert alert-alt">
                    Henry Ellis<small class="pull-right">40 min ago</small><br>
                    <a href="page_ready_inbox_message.html"><strong>You reached 10.000 Followers!</strong></a>
                </div>
            </div> -->
            <!-- END Messages -->
        </div>
        <!-- END Sidebar Content -->
    </div>
    <!-- END Wrapper for scrolling functionality -->
    </div>
</div>

